.anthropic-usage {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-1);
    padding: var(--spacer-2);
    width: 100%;

    span {
        color: var(--text-2);
        font-size: var(--font-xs);
        font-weight: 500;
    }
}
