.c-translation-result {
    background: var(--info-2);
    color: var(--info-3);
    flex-direction: column;
    font-size: var(--font-s);
    gap: var(--spacer-1);
    max-height: 500px;
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, max-height 0.3s ease;

    &.collapsed {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--spacer-05);
        padding: var(--spacer-1);

        .result {
            align-items: center;
            color: var(--info-6);
            display: flex;
            gap: var(--spacer-1);
            overflow: hidden;

            .id {
                background: var(--info-4);
                color: var(--info-8);
                padding: var(--spacer-05);
                text-align: center;
                width: var(--spacer-6);
            }

            .value {
                background: var(--info-3);
                color: var(--info-7);
                font-style: italic;
                padding: var(--spacer-05);
            }
        }
    }
}