@use "variables" as *;

.c-progress {
    background: $info-2;
    position: relative;
    width: 100%;

    .bar {
        background: $info-5;
        height: $spacer-3;

        .percentage {
            align-items: center;
            color: $info-8;
            display: flex;
            font-size: $font-s;
            font-weight: 600;
            height: $spacer-3;
            justify-content: space-between;
            padding: 0 $spacer-1;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .boundaries {
        background: $info-0;
        color: $info-7;
        display: flex;
        font-size: $font-xxs;
        padding: $spacer-025;
        width: 100%;
    }
}
