.c-progress {
    background: var(--surface-3);
    position: relative;
    width: 100%;

    .bar {
        background: var(--primary-5);
        height: var(--spacer-3);

        .percentage {
            align-items: center;
            color: var(--primary-1);
            display: flex;
            font-size: var(--font-s);
            font-weight: 600;
            height: var(--spacer-3);
            justify-content: space-between;
            padding: 0 var(--spacer-1);
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .boundaries {
        background: var(--info-0);
        color: var(--info-7);
        display: flex;
        font-size: var(--font-xxs);
        padding: var(--spacer-025);
        width: 100%;
    }
}