.c-translations {
    padding-top: 0;
    position: relative;
    width: 100%;

    .workspace-info {
        align-items: center;
        background: var(--info-0);
        border-bottom: 1px solid var(--info-2);
        display: flex;
        gap: var(--spacer-1);
        position: sticky;

        .history-actions,
        .c-group-actions {
            padding: var(--spacer-1);
        }

        .c-icon {
            color: var(--info-6);
            height: var(--spacer-4);
            width: var(--spacer-4);
        }

        &.disabled {

            .c-icon {
                color: var(--info-2);
            }
        }

        .history-actions {
            align-items: center;
            background: var(--info-1);
            display: flex;
        }
    }

    > .c-translation-group {
        border: 0;
        box-shadow: none;
        flex-direction: column;
        margin: 0;
        padding: 0;


        .field {
            /* Translation fields differ from the default field styles */
            margin-bottom: unset;
        }

        > .group-id {
            /* The root group should take less space */
            align-items: center;
            display: flex;
            flex: unset;
            margin: var(--spacer-1) 0;
            min-height: unset;
            min-width: unset;
            width: unset;
        }

        > .group-value {
            max-width: 1200px;
            padding: var(--spacer-3);
            padding-top: 0;

            .c-translation  {
                padding-inline-end: 0;
            }

            > .c-translation-group {
                margin-inline-start: 0;
            }
        }
    }

    .translation-controls {
        align-items: center;
        display: flex;
        gap: 1rem;
        min-width: 300px;

        input {
            background: var(--info-1);
            border: none;
            color: var(--info-6);
            height: var(--spacer-4);
            padding: var(--spacer-1);
        }

        button {
            height: var(--spacer-4);
        }
    }

    .filter-input {
        flex: 1;
    }

    .translation-controls button {
        background: var(--info-1);
        border: none;
        border-radius: 4px;
        color: var(--info-6);
        cursor: pointer;
        min-width: 80px;
        transition: background 0.2s;

        &:hover {
            background: var(--info-2);
        }
    }
}}