.c-settings-tab-workspaces {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-4);
}

.c-settings-tab-workspaces__languages {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2);
}
