@use "variables" as *;

.c-icon {
    fill: currentcolor;
    outline: none;

    &.disabled {
        cursor: not-allowed;
        opacity: 0.2;
    }

    &.type-success {
        color: hsl(var(--success-h) var(--s-3) var(--l-6));
    }

    &.type-warning {
        color: hsl(var(--warning-h) var(--s-3) var(--l-6));
    }

    &.error {
        color: var(--error-4);
    }

    &.icon-xs {
        height: calc($spacer-1 * 1.75);
        width: calc($spacer-1 * 1.75);
    }

    &.icon-s {
        height: calc($spacer-1 * 2.5);
        width: calc($spacer-1 * 2.5);
    }

    &.icon-d {
        height: calc($spacer-1 * 3.5);
        width: calc($spacer-1 * 3.5);
    }

    &.icon-l {
        height: 50px;
        width: 50px;
    }

    &.icon-xxl {
        height: 100px;
        width: 100px;
    }

    &.type-default {
        color: $surface-5;

        &:not(.disabled):hover {
            color: $info-7;
            cursor: pointer;
        }
    }

    &.type-danger {
        color: $danger-5;

        &.click:not(.disabled):hover {
            color: $danger-7;
            cursor: pointer;
        }
    }

    &.type-info {
        color: $info-5;

        &.click:not(.disabled):hover {
            color: $info-7;
            cursor: pointer;
        }
    }
}