.c-chart {

    svg {

        .line {
            stroke: hsl(var(--brand-h) var(--s-3) var(--dl-4));
        }

        .chart-area {
            stroke: var(--info-4);
        }

        .axis-y {
            fill: var(--bg-secondary);
            font-family: var(--font-family-mono);
            stroke: none;
        }

        .name {
            fill: var(--bg-tertiary);
            font-family: var(--font-family-mono);
            font-size: var(--font-size-xs);
            stroke: none;
        }
    }
}