.c-channels-list {
    padding: var(--spacer-4);

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--spacer-4);

        h2 {
            margin: 0;
            font-size: var(--font-b);
            font-weight: 600;
            color: var(--text-1);
        }
    }
}
