.c-settings.content {
    background: var(--surface-1);
    color: var(--surface-7);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.c-settings {

    .header {
        align-items: center;
        background: var(--surface-1);
        border-bottom: 1px solid var(--surface-2);
        display: flex;
        flex-shrink: 0;
        gap: var(--spacer-1);
        min-height: 60px;
        padding: var(--spacer-2) var(--spacer-3);
        position: relative;
        z-index: 1;

        .notice {
            flex-shrink: 0;
        }

        .title {
            align-items: center;
            display: flex;
            gap: var(--spacer-1);

            span {
                color: var(--surface-8);
                font-size: var(--font-l);
                font-weight: 600;
                line-height: 1.2;
                margin: 0;
            }

            .item-icon {
                color: var(--surface-6);
                flex-shrink: 0;
            }
        }
    }

    .content {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow-y: auto;
        padding: var(--spacer-4) var(--spacer-3);
    }

    .tab-content {
        flex: 1;
        max-width: 800px;
    }

    .actions {
        display: flex;
        gap: var(--spacer-2);
        justify-content: flex-end;
        margin-top: var(--spacer-4);
        padding-top: var(--spacer-2);
    }
}
