.c-field-number {

    input {
        background: none;
        border: none;
        border-bottom: 1px solid var(--info-1);
        color: var(--bg-secondary);
        max-width: 80px;
        outline: none;
        padding: var(--spacer-05);
    }
}