.c-app-layout {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    &__content {
        animation: fade-in 0.2s ease-in forwards;
        display: flex;
        flex: 1;
        flex-direction: column;
        opacity: 0;

        .view {
            flex: 1;
            overflow-y: scroll;
        }
    }

    /* Responsive Design */
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
