.c-app-layout {
    background: var(--surface-1);
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    > .content {
        display: flex;
        flex: 1;
        flex-direction: column;

        .view {
            flex: 1;
            overflow-y: scroll;
        }
    }

    /* Responsive Design */
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
