.c-field-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 500px;

    .field-wrapper {
        display: flex;
        flex: 1;
        height: 100%;

        input {
            background: var(--info-3);
            border: 1px solid var(--info-4);
            color: var(--info-5);
            height: var(--input-height);
            padding: var(--spacer-05) var(--spacer-1);
            width: 100%;
            z-index: 1000;

            &:focus {
                border-color: var(--info-3);
                outline: var(--spacer-025) solid var(--info-5);
            }
        }

        .c-button {
            border-radius: 0;
            height: var(--input-height);
            padding: 0;

            svg {
                color: var(--info-5);
                height: calc(var(--input-height) / 2);
            }
        }
    }
}