.c-field-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 500px;

    .field-wrapper {
        display: flex;
        flex: 1;
        height: 100%;

        input {
            z-index: 1000;
        }

        .c-button {
            border-radius: 0 var(--border-radius-s) var(--border-radius-s) 0;
            height: 32px;
            margin-left: calc(-1 * var(--border-radius-s));
            padding: 0 var(--spacer-1);

            svg {
                color: var(--surface-6);
                height: 16px;
                transition: color 0.2s ease;
            }

            &:hover svg {
                color: var(--primary-5);
            }
        }
    }
}