@use "sass:math";
@use "variables" as *;

.c-field-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 500px;

    .field-wrapper {
        display: flex;
        flex: 1;
        height: 100%;

        input {
            background: $info-3;
            border: 1px solid $info-4;
            color: $info-5;
            height: $input-height;
            padding: $spacer-05 $spacer-1;
            width: 100%;
            z-index: 1000;

            &:focus {
                border-color: $info-3;
                outline: $spacer-025 solid $info-5;
            }
        }

        .c-button {
            border-radius: 0;
            height: $input-height;
            padding: 0;

            svg {
                color: $info-5;
                height: math.div($input-height, 2);
            }
        }
    }
}