@use "variables" as *;

.c-login {
    align-items: center;
    animation: fade-in 0.5s ease-in forwards;
    background: linear-gradient(to bottom, hsl(var(--info-h) var(--s-3) var(--l-3)), hsl(var(--info-h) var(--s-3) var(--l-0)));
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    @keyframes fade-in {

        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .background-layer {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;

        &.current {
            opacity: 1;

            &.fade-out {
                opacity: 0;
                transition: opacity 3s ease-in-out;
            }
        }

        &.next {
            opacity: 0;

            &.fade-in {
                opacity: 1;
                transition: opacity 3s ease-in-out;
            }
        }
    }

    .login-container {
        background: hsla(var(--info-h) var(--s-3) var(--l-2) / 80%);
        border: 1px solid $info-2;
        border-radius: $border-radius-l;
        box-shadow: 0 0 $spacer-2 $spacer-1 hsla(var(--info-h) var(--s-3) var(--l-0) / 30%);
        max-width: 320px;
        padding: $spacer-4;
        position: relative;
        width: 100%;
        z-index: 1;

        .logo {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: $spacer-2;
            justify-content: center;
            padding: $spacer-2 0;
            user-select: none;

            img {
                height: $spacer-6 * 2;
            }

            .logo-text {
                color: $surface-8;
                font-size: $font-xl;
                font-weight: 500;
            }
        }

        .field {
            margin-bottom: $spacer-3;

            label {
                color: $surface-5;
                display: block;
                font-size: $font-s;
                margin-bottom: $spacer-1;
                text-transform: capitalize;
            }

            &.password-field {
                position: relative;

                input {
                    padding-right: $spacer-5;
                }

                button {
                    background: $info-2;
                    border: none;
                    border-radius: $border-radius-xs;
                    height: calc($input-height - $spacer-2);
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    right: $spacer-1;
                    top: 50%;
                    transform: translateY(-50%);
                    width: $spacer-4;
                }
            }

            input {
                background: transparent;
                border: 1px solid $surface-3;
                border-radius: $border-radius-s;
                color: $surface-7;
                font-size: $font-d;
                height: $input-height;
                padding: 0 $spacer-2;
                transition: all 0.2s ease;
                width: 100%;

                &:focus {
                    border-color: $info-3;
                    outline: none;
                }

                &::placeholder {
                    color: $surface-4;
                }
            }
        }

        button[type="submit"] {
            background: $info-2;
            border: none;
            border-radius: $border-radius-s;
            color: $surface-7;
            cursor: pointer;
            font-size: $font-d;
            font-weight: 400;
            height: $input-height;
            margin-top: $spacer-4;
            transition: all 0.2s ease;
            width: 100%;

            &:hover {
                background: $info-3;
            }

            &:active {
                background: $info-1;
            }
        }
    }
}

.words-container {
    height: 100%;
    left: 0;
    perspective: 1000px;
    perspective-origin: center;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}

.floating-translation {
    --angle: 0;
    --base-size: 2.5rem;

    color: $info-4;
    filter: blur($spacer-5);
    font-size: var(--base-size);
    opacity: 0;
    position: absolute;
    transform-origin: center;
    transform-style: preserve-3d;
    user-select: none;

    &.fade-in {
        animation: word-float 10000ms cubic-bezier(0.2, 0, 0.6, 1) forwards;
    }
}

@keyframes word-float {

    0% {
        filter: blur($spacer-5);
        opacity: 0;
        text-shadow: 0 0 $spacer-1 $info-4;
        transform:
            scale(0)
            translate3d(
                calc(cos(var(--angle)) * 0px),
                calc(sin(var(--angle)) * 0px),
                0
            );
    }

    20% {
        transform:
            translate3d(
                calc(cos(var(--angle)) * 50px),
                calc(sin(var(--angle)) * 50px),
                50px
            );
    }

    60% {
        filter: blur(0);
        opacity: 1;
        text-shadow: 0 0 $spacer-5 $info-4;
        transform:
            scale(1)
            translate3d(
                calc(cos(var(--angle)) * 250px),
                calc(sin(var(--angle)) * 250px),
                250px
            );
    }

    85% {
        filter: blur($spacer-5);
        opacity: 0;
        transform:
            scale(5)
            translate3d(
                calc(cos(var(--angle)) * 400px),
                calc(sin(var(--angle)) * 400px),
                400px
            );
    }

    100% {
        transform:
            scale(10)
            translate3d(
                calc(cos(var(--angle)) * 800px),
                calc(sin(var(--angle)) * 800px),
                800px
            );
    }
}
