.c-translation {
    cursor: pointer;
    width: 100%;

    .c-field-text {
        align-items: center;
        flex-direction: row;

        label {
            align-items: center;
            background: var(--info-5);
            display: flex;
            height: 100%;
            min-width: 150px;
            padding-inline-end: var(--spacer-1);
        }

        input {
            border: none;
        }
    }

    .source {
        display: flex;
        height: var(--spacer-4);

        .tag-actions {
            align-items: center;
            background: var(--info-1);
            display: flex;
            gap: var(--spacer-05);
            height: 100%;
            padding: 0 var(--spacer-1);
            transition: background 0.3s ease;
        }

        .id-field {
            flex: 1;
            margin-inline-end: var(--spacer-1);
            max-width: calc(150px + var(--spacer-2) + 1px);
            width: 100%;

            input {
                background: var(--info-2);
                color: var(--info-6);
                flex: 1;
                max-width: 100%;
                transition: background 0.3s ease;
            }
        }

        .src-field {
            max-width: unset;
            width: 100%;

            input {
                background-color: var(--info-3);
                color: var(--info-7);
                transition: background 0.3s ease;
                width: 100%;
            }
        }
    }

    &.tag-updated {
        .source {
            .tag-actions {
                background: var(--surface-3);
            }

            .id-field input {
                background: var(--surface-4);
            }

            .src-field input {
                background: var(--surface-8);
            }
        }
    }

    &.redundant {
        .src-field {
            position: relative;

            &::before {
                background: var(--danger-5);
                content:'';
                height: 100%;
                left: calc(-1 * var(--spacer-025));
                position: absolute;
                width: var(--spacer-025);
            }
        }
    }

    &.soft {
        background: var(--success-5);
        opacity: 0.7;
    }
}