.c-user-badge {
    align-items: center;
    display: inline-flex;
    gap: var(--spacer-1);
    padding: var(--spacer-1);
    border-radius: var(--radius-1);
    background: var(--surface-2);
    transition: background 0.2s;

    &:hover {
        background: var(--surface-3);
    }
}

.c-user-avatar {
    display: inline-block;
    position: relative;

    .avatar {
        border-radius: 50%;
        display: block;
        object-fit: cover;
    }

    &.size-s .avatar {
        height: 24px;
        width: 24px;
    }

    &.size-d .avatar {
        height: 32px;
        width: 32px;
    }

    &.size-l .avatar {
        height: 48px;
        width: 48px;
    }
}

.user-name {
    color: var(--surface-7);
    font-size: var(--font-d);
}
