/* Import unified theme from common package */
@import "../../../common/css/theme.css";

::selection {
    background: var(--primary-5);
    color: var(--primary-8);
}

.rotate {
    animation: rotate-animation 1s linear infinite;
}

@keyframes rotate-animation {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

a {

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}