/* Import unified theme from common package */
@import "../../../common/css/theme.css";

@import "./_spacing.css";

html, body {
    background: var(--surface-1);
    font-family: Inter, sans-serif;
    font-size: var(--font-d);
    height: 100vh;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

::selection {
    background: var(--primary-5);
    color: var(--primary-8);
}

.rotate {
    animation: rotate-animation 1s linear infinite;
}

@keyframes rotate-animation {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

a {

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}