.c-field-multiselect {

    select {
        background: var(--info-4);
        border: 1px solid var(--info-1);
        color: var(--bg-primary);
        font-size: var(--font-d);
        min-width: 160px;
    }
}
