.c-field-multiselect {
    display: flex;
    flex-direction: column;

    select[multiple] {
        min-height: 96px;
        min-width: 160px;

        option {
            padding: var(--spacer-05) var(--spacer-1);
        }

        option:checked {
            background: var(--primary-5);
            color: var(--white);
        }
    }
}
