.c-video-strip {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-1);
    overflow-y: auto;
    padding: var(--spacer-1);
    width: 100%;

    .video-strip-item {
        aspect-ratio: 16 / 9;
        flex-shrink: 0;
        width: 100%;

        .c-stream {
            height: 100%;
            width: 100%;
        }
    }
}
