.c-video-strip {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--spacer-1);
    min-width: 0;
    overflow-y: auto;
    width: 100%;

    .video-strip-item {
        aspect-ratio: 16 / 9;
        flex-shrink: 0;
        width: 100%;

        .c-stream {
            height: 100%;
            width: 100%;
        }
    }

    .video-strip-placeholder {
        align-items: center;
        aspect-ratio: 16 / 9;
        background: var(--surface-2);
        color: var(--surface-6);
        display: flex;
        justify-content: center;
        width: 100%;

        p {
            font-size: var(--font-d);
            margin: 0;
        }
    }
}
