[Unit]
Description=Pyrite video conferencing service
After=network.target

[Service]
Type=simple
User=garage44
Group=garage44
WorkingDirectory=/home/garage44/garage44/packages/pyrite
Environment="NODE_ENV=production"
Environment="BUN_ENV=development"
Environment="PATH=/home/garage44/.bun/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/garage44/.bun/bin/bun run dev -- --port 3031
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
