.c-field-textarea {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .icon {
        transition: color 0.2s ease;

        &:hover {
            color: var(--primary-5);
            cursor: pointer;
        }

        &.active {
            color: var(--primary-5);
        }
    }
}
