.c-field-textarea {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .icon {
        transition: color 0.2s ease;

        &:hover {
            color: var(--primary-5);
            cursor: pointer;
        }

        &.active {
            color: var(--primary-5);
        }
    }

    .field-label {
        color: var(--surface-1);
        font-size: var(--font-s);
        font-weight: 500;
        margin: var(--spacer-1) 0;
        text-transform: capitalize;
    }
}
