:root {
    --s-0: 3%;
    --s-1: 13%;
    --s-2: 30%;
    --s-3: 50%;
    --l-0: 5%;
    --l-1: 9.4%;
    --l-2: 15%;
    --l-3: 20%;
    --l-4: 30%;
    --l-5: 60%;
    --l-6: 74%;
    --l-7: 87%;
    --l-8: 97%;
    --info-h: 205deg;
    --success-h: 100deg;
    --danger-h: 5deg;
    --warning-h: 25deg;
    --surface-h: 54deg;
}

$spacer-1: 8px;
$spacer-025: $spacer-1 * 0.25;
$spacer-05: $spacer-1 * 0.5;
$spacer-2: $spacer-1 * 2;
$spacer-3: $spacer-1 * 3;
$spacer-4: $spacer-1 * 4;
$spacer-5: $spacer-1 * 5;
$spacer-6: $spacer-1 * 6;
$spacer-7: $spacer-1 * 7;
$spacer-8: $spacer-1 * 8;
$font-xxs: 0.61rem;
$font-xs: 0.74rem;
$font-s: 0.8rem;
$font-d: 0.9rem;
$font-l: 1.05rem;
$font-xl: 1.3rem;
$font-xxl: 3rem;
$icon-xs: $spacer-1 * 1.75;
$icon-s: $spacer-1 * 2;
$icon-d: $spacer-3;
$icon-l: $spacer-4;
$icon-xl: $spacer-1 * 4.5;
$breakpoint-10: 500px;
$breakpoint-20: 750px;
$breakpoint-35: 1400px;
$breakpoint-40: 1550px;
$breakpoint-50: 1920px;
$black: #000;
$white: #fff;

// Surface colors may be changed for light/dark theming
$surface-0: hsl(var(--surface-h) var(--s-1) var(--l-0));
$surface-1: hsl(var(--surface-h) var(--s-1) var(--l-1));
$surface-2: hsl(var(--surface-h) var(--s-1) var(--l-2));
$surface-3: hsl(var(--surface-h) var(--s-1) var(--l-3));
$surface-4: hsl(var(--surface-h) var(--s-1) var(--l-4));
$surface-5: hsl(var(--surface-h) var(--s-1) var(--l-5));
$surface-6: hsl(var(--surface-h) var(--s-1) var(--l-6));
$surface-7: hsl(var(--surface-h) var(--s-1) var(--l-7));
$surface-8: hsl(var(--surface-h) var(--s-1) var(--l-8));

// Info state
$info-0: hsl(var(--info-h) var(--s-3) var(--l-0));
$info-1: hsl(var(--info-h) var(--s-3) var(--l-1));
$info-2: hsl(var(--info-h) var(--s-3) var(--l-2));
$info-3: hsl(var(--info-h) var(--s-3) var(--l-3));
$info-4: hsl(var(--info-h) var(--s-3) var(--l-4));
$info-5: hsl(var(--info-h) var(--s-3) var(--l-5));
$info-6: hsl(var(--info-h) var(--s-3) var(--l-6));
$info-7: hsl(var(--info-h) var(--s-3) var(--l-7));
$info-8: hsl(var(--info-h) var(--s-3) var(--l-8));

// Success state
$success-0: hsl(var(--success-h) var(--s-3) var(--l-0));
$success-1: hsl(var(--success-h) var(--s-2) var(--l-1));
$success-2: hsl(var(--success-h) var(--s-2) var(--l-2));
$success-3: hsl(var(--success-h) var(--s-2) var(--l-3));
$success-4: hsl(var(--success-h) var(--s-2) var(--l-4));
$success-5: hsl(var(--success-h) var(--s-2) var(--l-5));
$success-6: hsl(var(--success-h) var(--s-2) var(--l-6));
$success-7: hsl(var(--success-h) var(--s-2) var(--l-7));
$success-8: hsl(var(--success-h) var(--s-2) var(--l-8));

// Danger state
$danger-0: hsl(var(--danger-h) var(--s-3) var(--l-0));
$danger-1: hsl(var(--danger-h) var(--s-3) var(--l-1));
$danger-2: hsl(var(--danger-h) var(--s-3) var(--l-2));
$danger-3: hsl(var(--danger-h) var(--s-3) var(--l-3));
$danger-4: hsl(var(--danger-h) var(--s-3) var(--l-4));
$danger-5: hsl(var(--danger-h) var(--s-3) var(--l-5));
$danger-6: hsl(var(--danger-h) var(--s-3) var(--l-6));
$danger-7: hsl(var(--danger-h) var(--s-3) var(--l-7));
$danger-8: hsl(var(--danger-h) var(--s-3) var(--l-8));

// Warning state
$warning-0: hsl(var(--warning-h) var(--s-3) var(--l-0));
$warning-1: hsl(var(--warning-h) var(--s-3) var(--l-1));
$warning-2: hsl(var(--warning-h) var(--s-3) var(--l-2));
$warning-3: hsl(var(--warning-h) var(--s-3) var(--l-3));
$warning-4: hsl(var(--warning-h) var(--s-3) var(--l-4));
$warning-5: hsl(var(--warning-h) var(--s-3) var(--l-5));
$warning-6: hsl(var(--warning-h) var(--s-3) var(--l-6));
$warning-7: hsl(var(--warning-h) var(--s-3) var(--l-7));
$warning-8: hsl(var(--warning-h) var(--s-3) var(--l-8));
$shadow-d: 0 4px $spacer-1 hsl(var(--info-h) var(--s-3) var(--l-1) / 50%);

// Forms
$input-height: $spacer-4;
$input-label-color: $surface-1;
$input-label-height: $spacer-3;
$input-bg: hsl(var(--surface-h) var(--s-1) 100%);
$input-margin: $spacer-3;
$validation-unset-border: 1px solid hsl(var(--surface-h) var(--s-1) var(--l-3));
$validation-valid-border: 1px solid hsl(var(--success-h) var(--s-1) var(--l-2));
$validation-invalid-border: 1px solid hsl(var(--danger-h) var(--s-1) var(--l-2));
$focus-outline: 1px solid hsl(var(--info-h) var(--s-2) var(--l-3));
$focus-outline-invalid: $danger-2;
$input-border-color: $surface-4;
$input-disabled-bg: $surface-5;
$input-disabled-color: hsl(var(--surface-h) var(--s-1) var(--l-2));
$input-disabled-border: $surface-4;
$input-color: hsl(var(--surface-h) var(--s-1) var(--l-1));
$input-placeholder-color: hsl(var(--surface-h) var(--s-1) var(--l-2));
$table-header-bg: $info-1;
$table-header-color: $info-4;
$table-header-height: $spacer-6;
$border-color: $surface-5;
$border-radius-xl: $spacer-2;
$border-radius-l: $spacer-1 * 1.5;
$border-radius-d: $spacer-1;
$border-radius-s: $spacer-05;
$border-radius-xs: $spacer-05;
$outline: 0 0 1px 2px;
$outline-inset: inset 0 0 0 1px;
$panel-width: 450px;
$panel-context-width: 600px;
$panel-collapsed-width: $spacer-6 + $spacer-05;