.c-directory-browser {
    display: flex;

    .add-path {
        align-items: center;
        background: var(--surface-3);
        color: var(--surface-5);
        display: flex;
        gap: var(--spacer-1);
        padding: var(--spacer-025);
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;

        .current-path {
            background: var(--surface-0);
            color: var(--surface-6);
            font-style: italic;
            padding: var(--spacer-1);
        }

        .directory-list {
            background: var(--surface-1);
            display: flex;
            flex-direction: column;
            height: 200px;
            overflow-y: scroll;

            .directory {
                color: var(--surface-5);
                cursor: pointer;
                padding: var(--spacer-05) var(--spacer-1);

                &.is-workspace {
                    color: var(--success-5);
                }

                &:hover {
                    background: var(--surface-2);
                    color: var(--surface-7);
                }
            }
        }
    }
}