@use "variables" as *;

.c-directory-browser {
    display: flex;

    .add-path {
        align-items: center;
        background: $info-3;
        color: $info-5;
        display: flex;
        gap: $spacer-1;
        padding: $spacer-025;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;

        .current-path {
            background: $info-0;
            color: $info-6;
            font-style: italic;
            padding: $spacer-1;
        }

        .directory-list {
            background: $info-1;
            display: flex;
            flex-direction: column;
            height: 200px;
            overflow-y: scroll;

            .directory {
                color: $info-5;
                cursor: pointer;
                padding: $spacer-05 $spacer-1;

                &.is-workspace {
                    color: $success-5;
                }

                &:hover {
                    background: $info-2;
                    color: $info-7;
                }
            }
        }
    }


}