.c-button-group {
    display: flex;
    gap: var(--spacer-2);
    transition: background 0.3s ease;
    width: 100%;

    &:hover,
    &.active {
        background: var(--text-secondary);
    }

    .c-button {
        flex: 1;


        .active-group {
            opacity: 0.5;
        }
    }
}
