.c-group-actions {
    background: var(--info-1);
    display: flex;
    height: 100%;
    justify-content: space-between;

    .collapse-toggle {
        align-items: center;
        background: var(--info-3);
        display: flex;
        height: var(--spacer-4);
        justify-content: center;
        width: 100%;
    }

    .group-actions {
        align-items: center;
        display: flex;
        gap: var(--spacer-025);
        justify-content: space-between;

        .c-icon {
            transition: all 0.3s ease;
        }
    }

    &.vertical {
        flex-direction: column;

        .group-actions {
            flex-direction: column;
            gap: var(--spacer-05);
            margin-bottom: var(--spacer-1);
            width: var(--spacer-4);
        }

        .collapse-toggle {
            margin-bottom: var(--spacer-1);
        }
    }

    &.horizontal {
        flex-direction: row;

        .collapse-toggle {
            margin-inline-end: var(--spacer-1);
            width: var(--spacer-4);
        }

        .group-actions {
            margin-inline-end: var(--spacer-1);
        }
    }
}