@use "variables" as *;

.c-button {
    border-radius: $spacer-3;
    cursor: pointer;
    font-size: $font-s;
    font-weight: 800;
    padding: $spacer-1 * 1.5 $spacer-2;
    transition: all 0.1s ease;

    &.type-info {
        background: $info-4;
        border: none;
        color: $info-7;


        &:hover {
            background: $info-3;
        }
    }

    &.type-success {
        background: $success-4;
        border: none;
        color: $success-7;
        font-weight: 600;

        &:hover {
            background: $success-3;
        }
    }

    &.disabled {
        opacity: 0.5;

        &:hover {
            background: $info-4;
            cursor: not-allowed;
        }
    }
}