body {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before {
        background: var(--info-1);
        bottom: 0;
        box-shadow: 0 0 var(--spacer-2) var(--spacer-1) var(--info-0);
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    .panel {
        align-items: center;
        animation: fade-in 0.2s ease-in forwards;
        background: oklch(from var(--info-1) l c h / 0.8);
        border-right: 1px solid var(--info-2);
        box-shadow: 0 0 var(--spacer-2) var(--spacer-1) oklch(from var(--info-0) l c h / 0.4);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        width: 200px;

        .top-bar {
            background: var(--info-1);
            flex: 1;
            height: 100%;
            width: 100%;

            .c-field-select {
                margin: var(--spacer-05);
            }

            .logo {
                align-items: center;
                background: var(--info-1);
                display: flex;
                gap: var(--spacer-1);
                justify-content: flex-start;
                padding: var(--spacer-05) var(--spacer-1);

                img {
                    height: var(--spacer-6);
                    width: auto;
                }

                .logo-text {
                    color: var(--info-8);
                    font-size: 1.125rem;
                    font-weight: 500;
                    letter-spacing: 0.01em;
                }
            }

            a {
                align-items: center;
                color: var(--info-6);
                display: flex;
                gap: var(--spacer-1);
                justify-content: flex-start;
                padding: var(--spacer-1);
                text-decoration: none;
                transition: all 0.3s ease;
                width: 100%;

                &.active {
                    background: var(--info-3);
                    color: var(--info-8);
                }
            }
        }

        .actions {
            display: flex;
            padding: var(--spacer-1);
            width: 100%;

            .c-icon {
                background: var(--info-3);
                border: 1px solid var(--info-4);
                border-radius: 50%;
                cursor: pointer;
                height: var(--icon-xl);
                padding: 6px;
                transition: all 0.3s ease;
                width: var(--icon-xl);

                &:hover {
                    background: var(--info-4);
                }
            }
        }

        .engines {
            padding: var(--spacer-1);
            width: 100%;

            .usage {
                color: var(--info-6);
                display: flex;
                flex-direction: column;
                margin-bottom: var(--spacer-2);
                width: 100%;
            }
        }

        &.collapsed {
            max-width: 0;
        }
    }

    .menu-group {
        margin-top: var(--spacer-2);
    }

    .view-layout {
        animation: fade-in 0.2s ease-in forwards;
        display: flex;
        flex: 1;
        flex-direction: column;

        .view {
            flex: 1;
            /* max-width: 1200px; */
            overflow-y: scroll;
        }
    }
}