.c-general-controls {
    align-items: flex-start;
    background: var(--bg-secondary);
    box-shadow: var(--shadow-l);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: fit-content;

    .navigational-controls {
        display: flex;
        flex-direction: column;
        gap: var(--spacer-1);
        width: fit-content;
    }

    .toggles {
        display: flex;
        flex-direction: column;
        gap: var(--spacer-1);
        width: fit-content;
    }
}