.c-groups-context.presence {

    .actions {
        padding-left: 0;
    }

    .group {

        .stats {
            align-items: center;
            display: flex;
            transition: all 0.25s ease-in;

            &.active {
                color: var(--bg-primary);
            }
        }
    }

    .custom-group {
        padding-left: 0;
    }
}