@use "variables" as *;

.c-notifications {
    align-items: center;
    bottom: $spacer-1;
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    font-style: italic;
    font-weight: 400;
    gap: $spacer-1;
    max-width: 400px;
    overflow: hidden;
    padding: $spacer-2 $spacer-2;
    position: absolute;
    right: $spacer-1;
    width: 100%;
    z-index: 100000;

    .notification {
        align-items: center;
        box-shadow: var(--shadow);
        display: flex;
        justify-content: space-between;
        margin: $spacer-1 $spacer-05;
        padding: $spacer-2;
        transition: all 0.3s ease-in-out;
        z-index: 1000000;

        &.fade-appear {
            opacity: 0;
            transform: scale(0);
        }

        &.fade-appear-active {
            opacity: 1;
            transform: scale(1);
        }

        &.fade-exit {
            opacity: 0;
            transform: scale(0);
        }

        &.type-success {
            background: $success-4;
            color: $success-8;
        }

        &.type-info {
            background: $info-4;
            color: $info-8;
        }

        &.type-warning {
            background: $warning-5;
            color: $warning-1;
        }

        &.type-error {
            background: $danger-4;
            color: $danger-8;
        }

        .icon {
            height: $spacer-4;
            margin: $spacer-1;
            width: $spacer-4;
        }

        .text-wrapper {
            align-items: flex-start;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: flex-end;

            .message-text {
                flex: 1;
                width: 100%;

                .personal {

                    .message-text {
                        font-weight: 600;
                    }
                }
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                margin-top: $spacer-1;
            }
        }

        .btn-close {
            align-self: flex-start;
            margin-top: $spacer-05;
            opacity: 0.5;
            width: $spacer-4;

            &:hover {
                opacity: 1;
            }
        }



    }
}
